@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto Condensed', "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
	overflow: hidden;
	user-select: none;
	cursor: default;
}



code {
  font-family: 'Ubuntu Mono', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus, input:focus{
    outline: none;
}